﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIIS app</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>S2 project</h2>
        <p>
            Will access all pacients form the Azure DB
        </p>

        <a href="http://www.google.com" class="btn btn-default">Spre Medic Specialis</a>
        <a href="http://medicdefamilie.azurewebsites.net/" class="btn btn-default">Spre Medic de Familie</a>
    </div>
</div>